<h2>Proposal</h2>

<dl>
  <dt>{{model.name}}</dt>
  <dd>{{model.desc}}</dd>
</dl>

<p>How would you rate this proposal?</p>
{{#power-select
  placeholder="Rate (ten is high)…"
  selected=model.rating
  matcher=matcher
  onchange=(action "selectedRating" model)
  options=model.ratings
  as |choice|
}}
  {{choice.rating}}
{{/power-select}}

{{outlet}}
